body
{
    margin: 0;
    padding: 0;
    background-color: rgba(25, 130, 60, 0.2);
}

.container
{
    max-width: 1000px;
    margin-inline: auto;
    outline: 2px dashed red;
}

.img-container
{
    max-width: 400px;
}

img
{
    width: 100%;
}

header>h1
{
    text-decoration: underline;
    text-transform: uppercase;
    animation: rainbowText linear 5s infinite alternate-reverse;
}

h2
{
    text-decoration: underline;
}

#ingredients,
#method
{
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 1);
    width: min-content;
    min-width: 500px;
    padding: 20px;
}

@keyframes rainbowText
{
    0%
    {
        color: red;
    }

    17%
    {
        color: orange;
    }

    33%
    {
        color: yellow;
    }

    50%
    {
        color: green;
        letter-spacing: 3px;
    }

    67%
    {
        color: blue;
    }

    83%
    {
        color: indigo;
    }

    100%
    {
        color: violet;
    }
}